/* HEADER BODY NAV FOOTER WRAPPER*/
body {
	font-family: 'Indie Flower', cursive;
}
#wrapper{
	background: url(../img/background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height:100vh;
	width: 100%;
	color: #eee;
	box-sizing:border-box;
}
header{
	background-color: #ab0000;
	color: #eee;
	height: 10vh;
	width: 100%;
	padding: 5px;
	box-sizing:border-box;
	text-align: center;

}
header h1 {
    font-size: 2em;
    position: relative;
    top: 5px;
}
nav{
	text-align: center;
	margin-bottom:150px;
	top:25px;
	position:relative;
}
nav ul li{
	display: inline;
}
nav ul li a{

	color:#ab0000;
	text-decoration: none;
	font-size: 1.5em;
	position: relative;
    top: 10px;
} 
nav ul li a:hover{
	color:#eee;	

}
footer{
	text-align: center;
	position: relative;
	width:100%;
	bottom: 0; 
	background-color: #5b6073;
	height: 10vh;
	margin-bottom:0;
}
footer ul li{
	display: inline;
}
footer ul li a.fa{
	color: #ab0000;
	font-size: 2em;
	position: relative;
	top:10px;
}
footer ul li a.fa:hover{
	color: #eee;
}

/*PRODUCT SLIDER*/
#product_slider {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	border: 1px solid white;
	margin-bottom: 25px;
}
#product_slider ul li a img{
	height:auto;
	width: 200px;
	margin-left:auto;
	margin-right: auto;
}

/*INTRO SECTION*/

#intro {
	width: 50%;
	margin-right: auto;
	margin-left: auto;

}
#intro h2{
	text-align: center;
	font-size: 2em;
	color: #ab0000;
	margin-bottom: 10px;
}	
#intro p{
	font-size: 1.25em;
}
